* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.dark-btn-div {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid rgb(218, 218, 218);
  width: 40px;
  border-radius: 50px;
}

#dark-mode-btn {
  border-radius: 50px;
  color: rgb(82, 6, 82);
}

.container {
  position: relative;
  background-color: #222831;
  color: #eeeeee;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 20px 0;
}

#timer {
  font-size: 1.2em;
  color: #555;
}

#question-container {
  margin-bottom: 20px;
}

#question {
  font-size: 1.5em;
  margin: 0;
}

#options-container {
  display: flex;
  flex-direction: column;
}

.option {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 1em;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  transition: 0.5s ease;
}

#score-container {
  margin-top: 20px;
  font-size: 1.2em;
}

#next-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 4px;
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
}

#next-button:hover {
  background-color: #218838;
}

.correct {
  background-color: rgb(50, 107, 50);
  color: rgb(0, 0, 0);
}

.wrong {
  background-color: grey;
  color: rgb(224, 18, 18);
}
